<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CyDeptsalesexcelMapper">

    <resultMap type="CyDeptsalesexcel" id="CyDeptsalesexcelResult">
        <result property="id"    column="id"    />
        <result property="modifiedon"    column="ModifiedOn"    />
        <result property="demandname"    column="DemandName"    />
        <result property="code"    column="Code"    />
        <result property="name"    column="Name"    />
        <result property="plmname2"    column="PLMName2"    />
        <result property="seibancode"    column="SeibanCode"    />
        <result property="plmname5"    column="PLMName5"    />
        <result property="plmname3"    column="PLMName3"    />
        <result property="descflexfieldPubdescseg32"    column="DescFlexField_PubDescSeg32"    />
        <result property="shuliang"    column="shuliang"    />
        <result property="ljpc"    column="ljpc"    />
        <result property="t3"    column="T3"    />
        <result property="xq"    column="xq"    />
        <result property="mark"    column="mark"    />
        <result property="descflexfieldPrivatedescseg7"    column="DescFlexField_PrivateDescSeg7"    />
        <result property="descflexfieldPrivatedescseg9"    column="DescFlexField_PrivateDescSeg9"    />
        <result property="descflexfieldPrivatedescseg11"    column="DescFlexField_PrivateDescSeg11"    />
        <result property="deptformId"    column="deptform_id"    />
        <result property="deptsumziId"    column="deptsumzi_id"    />
        <result property="deptsumId"    column="deptsum_id"    />
        <result property="userId"    column="user_id"    />
        <result property="saleslineId"    column="salesLine_id"    />
        <result property="userName"    column="user_name"    />
        <result property="todayNumber"    column="today_number"    />
        <result property="personalNeeds"    column="personal_needs"    />
        <result property="sumZhu"    column="sum_zhu"    />
        <result property="issueNumber"    column="Issue_number"    />
        <result property="qty"    column="qty"    />
    </resultMap>

    <sql id="selectCyDeptsalesexcelVo">
        select id, ModifiedOn, DemandName, Code, Name, PLMName2, SeibanCode, PLMName5, PLMName3, DescFlexField_PubDescSeg32, shuliang, ljpc, T3, xq, mark, DescFlexField_PrivateDescSeg7, DescFlexField_PrivateDescSeg9, DescFlexField_PrivateDescSeg11, deptform_id, deptsumzi_id, deptsum_id, user_id, salesLine_id, user_name, today_number, personal_needs, sum_zhu, Issue_number,qty from cy_deptsalesexcel
    </sql>

    <select id="selectCyDeptsalesexcelList" parameterType="CyDeptsalesexcel" resultMap="CyDeptsalesexcelResult">
        <include refid="selectCyDeptsalesexcelVo"/>
        <where>
            <if test="modifiedon != null "> and ModifiedOn = #{modifiedon}</if>
            <if test="demandname != null  and demandname != ''"> and DemandName like concat('%', #{demandname}, '%')</if>
            <if test="code != null  and code != ''"> and Code = #{code}</if>
            <if test="name != null  and name != ''"> and Name like concat('%', #{name}, '%')</if>
            <if test="plmname2 != null  and plmname2 != ''"> and PLMName2 = #{plmname2}</if>
            <if test="seibancode != null  and seibancode != ''"> and SeibanCode = #{seibancode}</if>
            <if test="plmname5 != null  and plmname5 != ''"> and PLMName5 = #{plmname5}</if>
            <if test="plmname3 != null  and plmname3 != ''"> and PLMName3 = #{plmname3}</if>
            <if test="descflexfieldPubdescseg32 != null  and descflexfieldPubdescseg32 != ''"> and DescFlexField_PubDescSeg32 = #{descflexfieldPubdescseg32}</if>
            <if test="shuliang != null "> and shuliang = #{shuliang}</if>
            <if test="ljpc != null "> and ljpc = #{ljpc}</if>
            <if test="t3 != null  and t3 != ''"> and T3 = #{t3}</if>
            <if test="xq != null "> and xq = #{xq}</if>
            <if test="mark != null  and mark != ''"> and mark = #{mark}</if>
            <if test="descflexfieldPrivatedescseg7 != null  and descflexfieldPrivatedescseg7 != ''"> and DescFlexField_PrivateDescSeg7 = #{descflexfieldPrivatedescseg7}</if>
            <if test="descflexfieldPrivatedescseg9 != null  and descflexfieldPrivatedescseg9 != ''"> and DescFlexField_PrivateDescSeg9 = #{descflexfieldPrivatedescseg9}</if>
            <if test="descflexfieldPrivatedescseg11 != null  and descflexfieldPrivatedescseg11 != ''"> and DescFlexField_PrivateDescSeg11 = #{descflexfieldPrivatedescseg11}</if>
            <if test="deptformId != null "> and deptform_id = #{deptformId}</if>
            <if test="deptsumziId != null  and deptsumziId != ''"> and deptsumzi_id = #{deptsumziId}</if>
            <if test="deptsumId != null "> and deptsum_id = #{deptsumId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="saleslineId != null  and saleslineId != ''"> and salesLine_id = #{saleslineId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="todayNumber != null "> and today_number = #{todayNumber}</if>
            <if test="personalNeeds != null "> and personal_needs = #{personalNeeds}</if>
            <if test="sumZhu != null "> and sum_zhu = #{sumZhu}</if>
            <if test="issueNumber != null "> and Issue_number = #{issueNumber}</if>
            <if test="qty != null "> and qty = #{qty}</if>
        </where>
    </select>

    <select id="selectsumZhuList" parameterType="CyDeptsalesexcel" resultMap="CyDeptsalesexcelResult">
        select sum(sum_zhu) from cy_deptsalesexcel
    </select>
    <!--计算出 个人需求-->
    <select id="selectsumXqList" parameterType="CyDeptsalesexcel" resultMap="CyDeptsalesexcelResult">
        SELECT sum (xq) as xq FROM Cy_deptsalesexcel
        where user_name != #{userName} and Issue_number = #{issueNumber} and sum_zhu = #{sumZhu}
    </select>

    <!--计算出 个人需求-->
    <select id="selectGroupsumList" parameterType="CyDeptsalesexcel" resultMap="CyDeptsalesexcelResult">
        SELECT sum_zhu from Cy_deptsalesexcel GROUP BY sum_zhu
    </select>

    <select id="selectCyDeptSummaryList" parameterType="CyDeptsalesexcel" resultMap="CyDeptsalesexcelResult">
        select id, ModifiedOn, DemandName, Code, Name, PLMName2, SeibanCode, PLMName5, PLMName3, DescFlexField_PubDescSeg32, shuliang, ljpc, T3, xq, mark, DescFlexField_PrivateDescSeg7, DescFlexField_PrivateDescSeg9, DescFlexField_PrivateDescSeg11, deptform_id, deptsumzi_id, deptsum_id, user_id, salesLine_id, user_name, today_number, personal_needs, sum_zhu, Issue_number from cy_deptsalesexcel where Issue_number = #{issueNumber} and xq >0
    </select>

    <select id="selectCyDeptsalesexcelById" parameterType="Integer" resultMap="CyDeptsalesexcelResult">
        <include refid="selectCyDeptsalesexcelVo"/>
        where id = #{id}
    </select>

    <insert id="insertCyDeptsalesexcel" parameterType="CyDeptsalesexcel" useGeneratedKeys="true" keyProperty="id"  keyColumn="id">
        insert into cy_deptsalesexcel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="modifiedon != null">ModifiedOn,</if>
            <if test="demandname != null">DemandName,</if>
            <if test="code != null">Code,</if>
            <if test="name != null">Name,</if>
            <if test="plmname2 != null">PLMName2,</if>
            <if test="seibancode != null">SeibanCode,</if>
            <if test="plmname5 != null">PLMName5,</if>
            <if test="plmname3 != null">PLMName3,</if>
            <if test="descflexfieldPubdescseg32 != null">DescFlexField_PubDescSeg32,</if>
            <if test="shuliang != null">shuliang,</if>
            <if test="ljpc != null">ljpc,</if>
            <if test="t3 != null">T3,</if>
            <if test="xq != null">xq,</if>
            <if test="mark != null">mark,</if>
            <if test="descflexfieldPrivatedescseg7 != null">DescFlexField_PrivateDescSeg7,</if>
            <if test="descflexfieldPrivatedescseg9 != null">DescFlexField_PrivateDescSeg9,</if>
            <if test="descflexfieldPrivatedescseg11 != null">DescFlexField_PrivateDescSeg11,</if>
            <if test="deptformId != null">deptform_id,</if>
            <if test="deptsumziId != null">deptsumzi_id,</if>
            <if test="deptsumId != null">deptsum_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="saleslineId != null">salesLine_id,</if>
            <if test="userName != null">user_name,</if>
            <if test="todayNumber != null">today_number,</if>
            <if test="personalNeeds != null">personal_needs,</if>
            <if test="sumZhu != null">sum_zhu,</if>
            <if test="issueNumber != null">Issue_number,</if>
            <if test="qty != null">qty,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <!--<if test="id != null">#{id},</if>-->
            <if test="modifiedon != null">#{modifiedon},</if>
            <if test="demandname != null">#{demandname},</if>
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="plmname2 != null">#{plmname2},</if>
            <if test="seibancode != null">#{seibancode},</if>
            <if test="plmname5 != null">#{plmname5},</if>
            <if test="plmname3 != null">#{plmname3},</if>
            <if test="descflexfieldPubdescseg32 != null">#{descflexfieldPubdescseg32},</if>
            <if test="shuliang != null">#{shuliang},</if>
            <if test="ljpc != null">#{ljpc},</if>
            <if test="t3 != null">#{t3},</if>
            <if test="xq != null">#{xq},</if>
            <if test="mark != null">#{mark},</if>
            <if test="descflexfieldPrivatedescseg7 != null">#{descflexfieldPrivatedescseg7},</if>
            <if test="descflexfieldPrivatedescseg9 != null">#{descflexfieldPrivatedescseg9},</if>
            <if test="descflexfieldPrivatedescseg11 != null">#{descflexfieldPrivatedescseg11},</if>
            <if test="deptformId != null">#{deptformId},</if>
            <if test="deptsumziId != null">#{deptsumziId},</if>
            <if test="deptsumId != null">#{deptsumId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="saleslineId != null">#{saleslineId},</if>
            <if test="userName != null">#{userName},</if>
            <if test="todayNumber != null">#{todayNumber},</if>
            <if test="personalNeeds != null">#{personalNeeds},</if>
            <if test="sumZhu != null">#{sumZhu},</if>
            <if test="issueNumber != null">#{issueNumber},</if>
            <if test="qty != null">#{qty},</if>
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        insert into cy_deptsalesexcel
            (modifiedon,demandname,code,name,plmname2,seibancode,plmname5,plmname3,shuliang, ljpc, T3, xq, mark,
            DescFlexField_PrivateDescSeg7, DescFlexField_PrivateDescSeg9, DescFlexField_PrivateDescSeg11, deptform_id,user_id, salesLine_id,
            user_name, today_number, personal_needs, sum_zhu, Issue_number)
         values
                <foreach collection ="list" item="userList" separator =",">
                    (#{userList.modifiedon},#{userList.demandname},#{userList.code},#{userList.name},#{userList.plmname2},#{userList.seibancode},#{userList.plmname5},
                     #{userList.plmname3},#{userList.shuliang},#{userList.ljpc},#{userList.t3},#{userList.xq},#{userList.mark},
                     #{userList.descflexfieldPrivatedescseg7},#{userList.descflexfieldPrivatedescseg9},#{userList.descflexfieldPrivatedescseg11},
                     #{userList.deptformId},#{userList.userId},#{userList.saleslineId},#{userList.userName},#{userList.todayNumber},#{userList.personalNeeds},#{userList.sumZhu},#{userList.issueNumber})
        <!--                <if test="id != null">#{id},</if>-->
<!--                <if test="modifiedon != null">#{userList.modifiedon},</if>-->
<!--                <if test="demandname != null">#{userList.demandname},</if>-->
<!--                <if test="code != null">#{userList.code},</if>-->
<!--                <if test="name != null">#{userList.name},</if>-->
<!--                <if test="plmname2 != null">#{userList.plmname2},</if>-->
<!--                <if test="seibancode != null">#{userList.seibancode},</if>-->
<!--                <if test="plmname5 != null">#{userList.plmname5},</if>-->
<!--                <if test="plmname3 != null">#{userList.plmname3},</if>-->
<!--                <if test="descflexfieldPubdescseg32 != null">#{userList.descflexfieldPubdescseg32},</if>-->
<!--                <if test="shuliang != null">#{userList.shuliang},</if>-->
<!--                <if test="ljpc != null">#{userList.ljpc},</if>-->
<!--                <if test="t3 != null">#{userList.t3},</if>-->
<!--                <if test="xq != null">#{userList.xq},</if>-->
<!--                <if test="mark != null">#{userList.mark},</if>-->
<!--                <if test="descflexfieldPrivatedescseg7 != null">#{userList.descflexfieldPrivatedescseg7},</if>-->
<!--                <if test="descflexfieldPrivatedescseg9 != null">#{userList.descflexfieldPrivatedescseg9},</if>-->
<!--                <if test="descflexfieldPrivatedescseg11 != null">#{userList.descflexfieldPrivatedescseg11},</if>-->
<!--                <if test="deptformId != null">#{userList.deptformId},</if>-->
<!--                <if test="deptsumziId != null">#{userList.deptsumziId},</if>-->
<!--                <if test="deptsumId != null">#{userList.deptsumId},</if>-->
<!--                <if test="userId != null">#{userList.userId},#{userList.saleslineId},#{userList.userName},#{userList.todayNumber},#{userList.personalNeeds},#{userList.sumZhu},#{userList.issueNumber}</if>-->
<!--                <if test="saleslineId != null">#{userList.saleslineId},</if>-->
<!--                <if test="userName != null">#{userList.userName},</if>-->
<!--                <if test="todayNumber != null">#{userList.todayNumber},</if>-->
<!--                <if test="personalNeeds != null">#{userList.personalNeeds},</if>-->
<!--                <if test="sumZhu != null">#{userList.sumZhu},</if>-->
<!--                <if test="issueNumber != null">#{userList.issueNumber}</if>-->
        </foreach >
    </insert>

    <update id="updateCyDeptsalesexcel" parameterType="CyDeptsalesexcel">
        update cy_deptsalesexcel
        <trim prefix="SET" suffixOverrides=",">
            <if test="modifiedon != null">ModifiedOn = #{modifiedon},</if>
            <if test="demandname != null">DemandName = #{demandname},</if>
            <if test="code != null">Code = #{code},</if>
            <if test="name != null">Name = #{name},</if>
            <if test="plmname2 != null">PLMName2 = #{plmname2},</if>
            <if test="seibancode != null">SeibanCode = #{seibancode},</if>
            <if test="plmname5 != null">PLMName5 = #{plmname5},</if>
            <if test="plmname3 != null">PLMName3 = #{plmname3},</if>
            <if test="descflexfieldPubdescseg32 != null">DescFlexField_PubDescSeg32 = #{descflexfieldPubdescseg32},</if>
            <if test="shuliang != null">shuliang = #{shuliang},</if>
            <if test="ljpc != null">ljpc = #{ljpc},</if>
            <if test="t3 != null">T3 = #{t3},</if>
            <if test="xq != null">xq = #{xq},</if>
            <if test="mark != null">mark = #{mark},</if>
            <if test="descflexfieldPrivatedescseg7 != null">DescFlexField_PrivateDescSeg7 = #{descflexfieldPrivatedescseg7},</if>
            <if test="descflexfieldPrivatedescseg9 != null">DescFlexField_PrivateDescSeg9 = #{descflexfieldPrivatedescseg9},</if>
            <if test="descflexfieldPrivatedescseg11 != null">DescFlexField_PrivateDescSeg11 = #{descflexfieldPrivatedescseg11},</if>
            <if test="deptformId != null">deptform_id = #{deptformId},</if>
            <if test="deptsumziId != null">deptsumzi_id = #{deptsumziId},</if>
            <if test="deptsumId != null">deptsum_id = #{deptsumId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="saleslineId != null">salesLine_id = #{saleslineId},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="todayNumber != null">today_number = #{todayNumber},</if>
            <if test="personalNeeds != null">personal_needs = #{personalNeeds},</if>
            <if test="sumZhu != null">sum_zhu = #{sumZhu},</if>
            <if test="issueNumber != null">Issue_number = #{issueNumber},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCyDeptsalesexcelById" parameterType="Integer">
        delete from cy_deptsalesexcel where id = #{id}
    </delete>

    <delete id="deleteCyDeptsalesexcelByIds" parameterType="String">
        delete from cy_deptsalesexcel where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteFrom" >
        delete from cy_deptsalesexcel
    </delete>
</mapper>