<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CyDeptwandaconbinMapper">

    <resultMap type="CyDeptwandaconbin" id="CyDeptwandaconbinResult">
        <result property="id"    column="id"    />
        <result property="modifiedon"    column="ModifiedOn"    />
        <result property="demandname"    column="DemandName"    />
        <result property="code"    column="Code"    />
        <result property="name"    column="Name"    />
        <result property="plmname2"    column="PLMName2"    />
        <result property="seibancode"    column="SeibanCode"    />
        <result property="plmname5"    column="PLMName5"    />
        <result property="plmname3"    column="PLMName3"    />
        <result property="descflexfieldPubdescseg32"    column="DescFlexField_PubDescSeg32"    />
        <result property="shuliang"    column="shuliang"    />
        <result property="ljpc"    column="ljpc"    />
        <result property="t3"    column="T3"    />
        <result property="xq"    column="xq"    />
        <result property="mark"    column="mark"    />
        <result property="descflexfieldPrivatedescseg7"    column="DescFlexField_PrivateDescSeg7"    />
        <result property="descflexfieldPrivatedescseg9"    column="DescFlexField_PrivateDescSeg9"    />
        <result property="descflexfieldPrivatedescseg11"    column="DescFlexField_PrivateDescSeg11"    />
        <result property="deptformId"    column="deptform_id"    />
        <result property="deptsumziId"    column="deptsumzi_id"    />
        <result property="deptsumId"    column="deptsum_id"    />
        <result property="saleslineId"    column="salesLine_id"    />
        <result property="deptqiId"    column="deptqi_id"    />
        <result property="sumZhu"    column="sum_zhu"    />
    </resultMap>

    <sql id="selectCyDeptwandaconbinVo">
        select id, ModifiedOn, DemandName, Code, Name, PLMName2, SeibanCode, PLMName5, PLMName3, DescFlexField_PubDescSeg32, shuliang, ljpc, T3, xq, mark, DescFlexField_PrivateDescSeg7, DescFlexField_PrivateDescSeg9, DescFlexField_PrivateDescSeg11, deptform_id, deptsumzi_id, deptsum_id, salesLine_id, deptqi_id, sum_zhu from cy_deptwandaconbin
    </sql>

    <select id="selectCyDeptwandaconbinList" parameterType="CyDeptwandaconbin" resultMap="CyDeptwandaconbinResult">
        <include refid="selectCyDeptwandaconbinVo"/>
        <where>
            <if test="modifiedon != null "> and ModifiedOn = #{modifiedon}</if>
            <if test="demandname != null  and demandname != ''"> and DemandName like concat('%', #{demandname}, '%')</if>
            <if test="code != null  and code != ''"> and Code = #{code}</if>
            <if test="name != null  and name != ''"> and Name like concat('%', #{name}, '%')</if>
            <if test="plmname2 != null  and plmname2 != ''"> and PLMName2 = #{plmname2}</if>
            <if test="seibancode != null  and seibancode != ''"> and SeibanCode = #{seibancode}</if>
            <if test="plmname5 != null  and plmname5 != ''"> and PLMName5 = #{plmname5}</if>
            <if test="plmname3 != null  and plmname3 != ''"> and PLMName3 = #{plmname3}</if>
            <if test="descflexfieldPubdescseg32 != null  and descflexfieldPubdescseg32 != ''"> and DescFlexField_PubDescSeg32 = #{descflexfieldPubdescseg32}</if>
            <if test="shuliang != null "> and shuliang = #{shuliang}</if>
            <if test="ljpc != null "> and ljpc = #{ljpc}</if>
            <if test="t3 != null  and t3 != ''"> and T3 = #{t3}</if>
            <if test="xq != null "> and xq = #{xq}</if>
            <if test="mark != null  and mark != ''"> and mark = #{mark}</if>
            <if test="descflexfieldPrivatedescseg7 != null  and descflexfieldPrivatedescseg7 != ''"> and DescFlexField_PrivateDescSeg7 = #{descflexfieldPrivatedescseg7}</if>
            <if test="descflexfieldPrivatedescseg9 != null  and descflexfieldPrivatedescseg9 != ''"> and DescFlexField_PrivateDescSeg9 = #{descflexfieldPrivatedescseg9}</if>
            <if test="descflexfieldPrivatedescseg11 != null  and descflexfieldPrivatedescseg11 != ''"> and DescFlexField_PrivateDescSeg11 = #{descflexfieldPrivatedescseg11}</if>
            <if test="deptformId != null "> and deptform_id = #{deptformId}</if>
            <if test="deptsumziId != null  and deptsumziId != ''"> and deptsumzi_id = #{deptsumziId}</if>
            <if test="deptsumId != null "> and deptsum_id = #{deptsumId}</if>
            <if test="saleslineId != null  and saleslineId != ''"> and salesLine_id = #{saleslineId}</if>
            <if test="deptqiId != null "> and deptqi_id = #{deptqiId}</if>
            <if test="sumZhu != null "> and sum_zhu = #{sumZhu}</if>
        </where>
    </select>

    <select id="selectCyDeptwandaconbinById" parameterType="Integer" resultMap="CyDeptwandaconbinResult">
        <include refid="selectCyDeptwandaconbinVo"/>
        where id = #{id}
    </select>

    <insert id="insertCyDeptwandaconbin" parameterType="CyDeptwandaconbin">
        insert into cy_deptwandaconbin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="modifiedon != null">ModifiedOn,</if>
            <if test="demandname != null">DemandName,</if>
            <if test="code != null">Code,</if>
            <if test="name != null">Name,</if>
            <if test="plmname2 != null">PLMName2,</if>
            <if test="seibancode != null">SeibanCode,</if>
            <if test="plmname5 != null">PLMName5,</if>
            <if test="plmname3 != null">PLMName3,</if>
            <if test="descflexfieldPubdescseg32 != null">DescFlexField_PubDescSeg32,</if>
            <if test="shuliang != null">shuliang,</if>
            <if test="ljpc != null">ljpc,</if>
            <if test="t3 != null">T3,</if>
            <if test="xq != null">xq,</if>
            <if test="mark != null">mark,</if>
            <if test="descflexfieldPrivatedescseg7 != null">DescFlexField_PrivateDescSeg7,</if>
            <if test="descflexfieldPrivatedescseg9 != null">DescFlexField_PrivateDescSeg9,</if>
            <if test="descflexfieldPrivatedescseg11 != null">DescFlexField_PrivateDescSeg11,</if>
            <if test="deptformId != null">deptform_id,</if>
            <if test="deptsumziId != null">deptsumzi_id,</if>
            <if test="deptsumId != null">deptsum_id,</if>
            <if test="saleslineId != null">salesLine_id,</if>
            <if test="deptqiId != null">deptqi_id,</if>
            <if test="sumZhu != null">sum_zhu,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="modifiedon != null">#{modifiedon},</if>
            <if test="demandname != null">#{demandname},</if>
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="plmname2 != null">#{plmname2},</if>
            <if test="seibancode != null">#{seibancode},</if>
            <if test="plmname5 != null">#{plmname5},</if>
            <if test="plmname3 != null">#{plmname3},</if>
            <if test="descflexfieldPubdescseg32 != null">#{descflexfieldPubdescseg32},</if>
            <if test="shuliang != null">#{shuliang},</if>
            <if test="ljpc != null">#{ljpc},</if>
            <if test="t3 != null">#{t3},</if>
            <if test="xq != null">#{xq},</if>
            <if test="mark != null">#{mark},</if>
            <if test="descflexfieldPrivatedescseg7 != null">#{descflexfieldPrivatedescseg7},</if>
            <if test="descflexfieldPrivatedescseg9 != null">#{descflexfieldPrivatedescseg9},</if>
            <if test="descflexfieldPrivatedescseg11 != null">#{descflexfieldPrivatedescseg11},</if>
            <if test="deptformId != null">#{deptformId},</if>
            <if test="deptsumziId != null">#{deptsumziId},</if>
            <if test="deptsumId != null">#{deptsumId},</if>
            <if test="saleslineId != null">#{saleslineId},</if>
            <if test="deptqiId != null">#{deptqiId},</if>
            <if test="sumZhu != null">#{sumZhu},</if>
        </trim>
    </insert>

    <update id="updateCyDeptwandaconbin" parameterType="CyDeptwandaconbin">
        update cy_deptwandaconbin
        <trim prefix="SET" suffixOverrides=",">
            <if test="modifiedon != null">ModifiedOn = #{modifiedon},</if>
            <if test="demandname != null">DemandName = #{demandname},</if>
            <if test="code != null">Code = #{code},</if>
            <if test="name != null">Name = #{name},</if>
            <if test="plmname2 != null">PLMName2 = #{plmname2},</if>
            <if test="seibancode != null">SeibanCode = #{seibancode},</if>
            <if test="plmname5 != null">PLMName5 = #{plmname5},</if>
            <if test="plmname3 != null">PLMName3 = #{plmname3},</if>
            <if test="descflexfieldPubdescseg32 != null">DescFlexField_PubDescSeg32 = #{descflexfieldPubdescseg32},</if>
            <if test="shuliang != null">shuliang = #{shuliang},</if>
            <if test="ljpc != null">ljpc = #{ljpc},</if>
            <if test="t3 != null">T3 = #{t3},</if>
            <if test="xq != null">xq = #{xq},</if>
            <if test="mark != null">mark = #{mark},</if>
            <if test="descflexfieldPrivatedescseg7 != null">DescFlexField_PrivateDescSeg7 = #{descflexfieldPrivatedescseg7},</if>
            <if test="descflexfieldPrivatedescseg9 != null">DescFlexField_PrivateDescSeg9 = #{descflexfieldPrivatedescseg9},</if>
            <if test="descflexfieldPrivatedescseg11 != null">DescFlexField_PrivateDescSeg11 = #{descflexfieldPrivatedescseg11},</if>
            <if test="deptformId != null">deptform_id = #{deptformId},</if>
            <if test="deptsumziId != null">deptsumzi_id = #{deptsumziId},</if>
            <if test="deptsumId != null">deptsum_id = #{deptsumId},</if>
            <if test="saleslineId != null">salesLine_id = #{saleslineId},</if>
            <if test="deptqiId != null">deptqi_id = #{deptqiId},</if>
            <if test="sumZhu != null">sum_zhu = #{sumZhu},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCyDeptwandaconbinById" parameterType="Integer">
        delete from cy_deptwandaconbin where id = #{id}
    </delete>

    <delete id="deleteCyDeptwandaconbinByIds" parameterType="String">
        delete from cy_deptwandaconbin where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>