<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CyWdsumconMapper">

    <resultMap type="CyWdsumcon" id="CyWdsumconResult">
        <result property="modifiedon"    column="ModifiedOn"    />
        <result property="demandname"    column="DemandName"    />
        <result property="code"    column="Code"    />
        <result property="plmItemCode"    column="plm_item_code"    />
        <result property="saleslineId"    column="salesLine_id"    />
        <result property="supplyorg"    column="SupplyOrg"    />
        <result property="name"    column="Name"    />
        <result property="plmname2"    column="PLMName2"    />
        <result property="seibancode"    column="SeibanCode"    />
        <result property="ckzzd"    column="ckzzd"    />
        <result property="plmname5"    column="PLMName5"    />
        <result property="plmname3"    column="PLMName3"    />
        <result property="plmname4"    column="plmName4"    />
        <result property="plmname6"    column="plmName6"    />
        <result property="ctt"    column="ctt"    />
        <result property="descflexfieldPubdescseg32"    column="DescFlexField_PubDescSeg32"    />
        <result property="shuliang"    column="shuliang"    />
        <result property="ljpc"    column="ljpc"    />
        <result property="t3"    column="T3"    />
        <result property="t3ab3"    column="T3AB3"    />
        <result property="bzpc"    column="bzpc"    />
        <result property="swan"    column="swan"    />
        <result property="descflexfieldPrivatedescseg7"    column="DescFlexField_PrivateDescSeg7"    />
        <result property="cdj"    column="cdj"    />
        <result property="descflexfieldPrivatedescseg13"    column="DescFlexField_PrivateDescSeg13"    />
        <result property="gydm"    column="gydm"    />
        <result property="tc"    column="tc"    />
        <result property="memo"    column="memo"    />
        <result property="dd"    column="dd"    />
        <result property="descflexfieldPrivatedescseg9"    column="DescFlexField_PrivateDescSeg9"    />
        <result property="mj"    column="mj"    />
        <result property="mjh"    column="mjh"    />
        <result property="ltkc"    column="ltkc"    />
        <result property="dayShift1"    column="day_shift1"    />
        <result property="noonShift1"    column="noon_shift1"    />
        <result property="dayShift2"    column="day_shift2"    />
        <result property="noonShift2"    column="noon_shift2"    />
        <result property="dayShift3"    column="day_shift3"    />
        <result property="noonShift3"    column="noon_shift3"    />
        <result property="dayShift4"    column="day_shift4"    />
        <result property="noonShift4"    column="noon_shift4"    />
        <result property="dayShift5"    column="day_shift5"    />
        <result property="noonShift5"    column="noon_shift5"    />
        <result property="dayShift6"    column="day_shift6"    />
        <result property="noonShift6"    column="noon_shift6"    />
        <result property="dayShift7"    column="day_shift7"    />
        <result property="noonShift7"    column="noon_shift7"    />
        <result property="suman3"    column="SUMAN3"    />
        <result property="ap3"    column="AP3"    />
        <result property="iflen"    column="iflen"    />
        <result property="gybz"    column="gybz"    />
        <result property="gyyq"    column="gyyq"    />
        <result property="id"    column="id"    />
    </resultMap>

    <sql id="selectCyWdsumconVo">
        select ModifiedOn, DemandName, Code, plm_item_code, salesLine_id, SupplyOrg, Name, PLMName2, SeibanCode, ckzzd, PLMName5, PLMName3, plmName4, plmName6, ctt, DescFlexField_PubDescSeg32, shuliang, ljpc, T3, T3AB3, bzpc, swan, DescFlexField_PrivateDescSeg7, cdj, DescFlexField_PrivateDescSeg13, gydm, tc, memo, dd, DescFlexField_PrivateDescSeg9, mj, mjh, ltkc, day_shift1, noon_shift1, day_shift2, noon_shift2, day_shift3, noon_shift3, day_shift4, noon_shift4, day_shift5, noon_shift5, day_shift6, noon_shift6, day_shift7, noon_shift7, SUMAN3, AP3, iflen, gybz, gyyq, id from cy_wdsumcon
    </sql>

    <select id="selectCyWdsumconList" parameterType="CyWdsumcon" resultMap="CyWdsumconResult">
        <include refid="selectCyWdsumconVo"/>
        <where>
            <if test="modifiedon != null "> and ModifiedOn = #{modifiedon}</if>
            <if test="demandname != null  and demandname != ''"> and DemandName like concat('%', #{demandname}, '%')</if>
            <if test="code != null  and code != ''"> and Code = #{code}</if>
            <if test="plmItemCode != null  and plmItemCode != ''"> and plm_item_code = #{plmItemCode}</if>
            <if test="saleslineId != null  and saleslineId != ''"> and salesLine_id = #{saleslineId}</if>
            <if test="supplyorg != null  and supplyorg != ''"> and SupplyOrg = #{supplyorg}</if>
            <if test="name != null  and name != ''"> and Name like concat('%', #{name}, '%')</if>
            <if test="plmname2 != null  and plmname2 != ''"> and PLMName2 = #{plmname2}</if>
            <if test="seibancode != null  and seibancode != ''"> and SeibanCode = #{seibancode}</if>
            <if test="ckzzd != null  and ckzzd != ''"> and ckzzd = #{ckzzd}</if>
            <if test="plmname5 != null  and plmname5 != ''"> and PLMName5 = #{plmname5}</if>
            <if test="plmname3 != null  and plmname3 != ''"> and PLMName3 = #{plmname3}</if>
            <if test="plmname4 != null  and plmname4 != ''"> and plmName4 = #{plmname4}</if>
            <if test="plmname6 != null  and plmname6 != ''"> and plmName6 = #{plmname6}</if>
            <if test="ctt != null  and ctt != ''"> and ctt = #{ctt}</if>
            <if test="descflexfieldPubdescseg32 != null  and descflexfieldPubdescseg32 != ''"> and DescFlexField_PubDescSeg32 = #{descflexfieldPubdescseg32}</if>
            <if test="shuliang != null  and shuliang != ''"> and shuliang = #{shuliang}</if>
            <if test="ljpc != null  and ljpc != ''"> and ljpc = #{ljpc}</if>
            <if test="t3 != null  and t3 != ''"> and T3 = #{t3}</if>
            <if test="t3ab3 != null  and t3ab3 != ''"> and T3AB3 = #{t3ab3}</if>
            <if test="bzpc != null  and bzpc != ''"> and bzpc = #{bzpc}</if>
            <if test="swan != null  and swan != ''"> and swan = #{swan}</if>
            <if test="descflexfieldPrivatedescseg7 != null  and descflexfieldPrivatedescseg7 != ''"> and DescFlexField_PrivateDescSeg7 = #{descflexfieldPrivatedescseg7}</if>
            <if test="cdj != null  and cdj != ''"> and cdj = #{cdj}</if>
            <if test="descflexfieldPrivatedescseg13 != null  and descflexfieldPrivatedescseg13 != ''"> and DescFlexField_PrivateDescSeg13 = #{descflexfieldPrivatedescseg13}</if>
            <if test="gydm != null  and gydm != ''"> and gydm = #{gydm}</if>
            <if test="tc != null  and tc != ''"> and tc = #{tc}</if>
            <if test="memo != null  and memo != ''"> and memo = #{memo}</if>
            <if test="dd != null  and dd != ''"> and dd = #{dd}</if>
            <if test="descflexfieldPrivatedescseg9 != null  and descflexfieldPrivatedescseg9 != ''"> and DescFlexField_PrivateDescSeg9 = #{descflexfieldPrivatedescseg9}</if>
            <if test="mj != null  and mj != ''"> and mj = #{mj}</if>
            <if test="mjh != null  and mjh != ''"> and mjh = #{mjh}</if>
            <if test="ltkc != null  and ltkc != ''"> and ltkc = #{ltkc}</if>
            <if test="dayShift1 != null  and dayShift1 != ''"> and day_shift1 = #{dayShift1}</if>
            <if test="noonShift1 != null  and noonShift1 != ''"> and noon_shift1 = #{noonShift1}</if>
            <if test="dayShift2 != null  and dayShift2 != ''"> and day_shift2 = #{dayShift2}</if>
            <if test="noonShift2 != null  and noonShift2 != ''"> and noon_shift2 = #{noonShift2}</if>
            <if test="dayShift3 != null  and dayShift3 != ''"> and day_shift3 = #{dayShift3}</if>
            <if test="noonShift3 != null  and noonShift3 != ''"> and noon_shift3 = #{noonShift3}</if>
            <if test="dayShift4 != null  and dayShift4 != ''"> and day_shift4 = #{dayShift4}</if>
            <if test="noonShift4 != null  and noonShift4 != ''"> and noon_shift4 = #{noonShift4}</if>
            <if test="dayShift5 != null  and dayShift5 != ''"> and day_shift5 = #{dayShift5}</if>
            <if test="noonShift5 != null  and noonShift5 != ''"> and noon_shift5 = #{noonShift5}</if>
            <if test="dayShift6 != null  and dayShift6 != ''"> and day_shift6 = #{dayShift6}</if>
            <if test="noonShift6 != null  and noonShift6 != ''"> and noon_shift6 = #{noonShift6}</if>
            <if test="dayShift7 != null  and dayShift7 != ''"> and day_shift7 = #{dayShift7}</if>
            <if test="noonShift7 != null  and noonShift7 != ''"> and noon_shift7 = #{noonShift7}</if>
            <if test="suman3 != null  and suman3 != ''"> and SUMAN3 = #{suman3}</if>
            <if test="ap3 != null  and ap3 != ''"> and AP3 = #{ap3}</if>
            <if test="iflen != null  and iflen != ''"> and iflen = #{iflen}</if>
            <if test="gybz != null  and gybz != ''"> and gybz = #{gybz}</if>
            <if test="gyyq != null  and gyyq != ''"> and gyyq = #{gyyq}</if>
        </where>
    </select>

    <select id="selectCyWdsumconById" parameterType="Long" resultMap="CyWdsumconResult">
        <include refid="selectCyWdsumconVo"/>
        where id = #{id}
    </select>

    <insert id="insertCyWdsumcon" parameterType="CyWdsumcon" useGeneratedKeys="true" keyProperty="id">
        insert into cy_wdsumcon
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="modifiedon != null">ModifiedOn,</if>
            <if test="demandname != null">DemandName,</if>
            <if test="code != null">Code,</if>
            <if test="plmItemCode != null">plm_item_code,</if>
            <if test="saleslineId != null">salesLine_id,</if>
            <if test="supplyorg != null">SupplyOrg,</if>
            <if test="name != null">Name,</if>
            <if test="plmname2 != null">PLMName2,</if>
            <if test="seibancode != null">SeibanCode,</if>
            <if test="ckzzd != null">ckzzd,</if>
            <if test="plmname5 != null">PLMName5,</if>
            <if test="plmname3 != null">PLMName3,</if>
            <if test="plmname4 != null">plmName4,</if>
            <if test="plmname6 != null">plmName6,</if>
            <if test="ctt != null">ctt,</if>
            <if test="descflexfieldPubdescseg32 != null">DescFlexField_PubDescSeg32,</if>
            <if test="shuliang != null">shuliang,</if>
            <if test="ljpc != null">ljpc,</if>
            <if test="t3 != null">T3,</if>
            <if test="t3ab3 != null">T3AB3,</if>
            <if test="bzpc != null">bzpc,</if>
            <if test="swan != null">swan,</if>
            <if test="descflexfieldPrivatedescseg7 != null">DescFlexField_PrivateDescSeg7,</if>
            <if test="cdj != null">cdj,</if>
            <if test="descflexfieldPrivatedescseg13 != null">DescFlexField_PrivateDescSeg13,</if>
            <if test="gydm != null">gydm,</if>
            <if test="tc != null">tc,</if>
            <if test="memo != null">memo,</if>
            <if test="dd != null">dd,</if>
            <if test="descflexfieldPrivatedescseg9 != null">DescFlexField_PrivateDescSeg9,</if>
            <if test="mj != null">mj,</if>
            <if test="mjh != null">mjh,</if>
            <if test="ltkc != null">ltkc,</if>
            <if test="dayShift1 != null">day_shift1,</if>
            <if test="noonShift1 != null">noon_shift1,</if>
            <if test="dayShift2 != null">day_shift2,</if>
            <if test="noonShift2 != null">noon_shift2,</if>
            <if test="dayShift3 != null">day_shift3,</if>
            <if test="noonShift3 != null">noon_shift3,</if>
            <if test="dayShift4 != null">day_shift4,</if>
            <if test="noonShift4 != null">noon_shift4,</if>
            <if test="dayShift5 != null">day_shift5,</if>
            <if test="noonShift5 != null">noon_shift5,</if>
            <if test="dayShift6 != null">day_shift6,</if>
            <if test="noonShift6 != null">noon_shift6,</if>
            <if test="dayShift7 != null">day_shift7,</if>
            <if test="noonShift7 != null">noon_shift7,</if>
            <if test="suman3 != null">SUMAN3,</if>
            <if test="ap3 != null">AP3,</if>
            <if test="iflen != null">iflen,</if>
            <if test="gybz != null">gybz,</if>
            <if test="gyyq != null">gyyq,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="modifiedon != null">#{modifiedon},</if>
            <if test="demandname != null">#{demandname},</if>
            <if test="code != null">#{code},</if>
            <if test="plmItemCode != null">#{plmItemCode},</if>
            <if test="saleslineId != null">#{saleslineId},</if>
            <if test="supplyorg != null">#{supplyorg},</if>
            <if test="name != null">#{name},</if>
            <if test="plmname2 != null">#{plmname2},</if>
            <if test="seibancode != null">#{seibancode},</if>
            <if test="ckzzd != null">#{ckzzd},</if>
            <if test="plmname5 != null">#{plmname5},</if>
            <if test="plmname3 != null">#{plmname3},</if>
            <if test="plmname4 != null">#{plmname4},</if>
            <if test="plmname6 != null">#{plmname6},</if>
            <if test="ctt != null">#{ctt},</if>
            <if test="descflexfieldPubdescseg32 != null">#{descflexfieldPubdescseg32},</if>
            <if test="shuliang != null">#{shuliang},</if>
            <if test="ljpc != null">#{ljpc},</if>
            <if test="t3 != null">#{t3},</if>
            <if test="t3ab3 != null">#{t3ab3},</if>
            <if test="bzpc != null">#{bzpc},</if>
            <if test="swan != null">#{swan},</if>
            <if test="descflexfieldPrivatedescseg7 != null">#{descflexfieldPrivatedescseg7},</if>
            <if test="cdj != null">#{cdj},</if>
            <if test="descflexfieldPrivatedescseg13 != null">#{descflexfieldPrivatedescseg13},</if>
            <if test="gydm != null">#{gydm},</if>
            <if test="tc != null">#{tc},</if>
            <if test="memo != null">#{memo},</if>
            <if test="dd != null">#{dd},</if>
            <if test="descflexfieldPrivatedescseg9 != null">#{descflexfieldPrivatedescseg9},</if>
            <if test="mj != null">#{mj},</if>
            <if test="mjh != null">#{mjh},</if>
            <if test="ltkc != null">#{ltkc},</if>
            <if test="dayShift1 != null">#{dayShift1},</if>
            <if test="noonShift1 != null">#{noonShift1},</if>
            <if test="dayShift2 != null">#{dayShift2},</if>
            <if test="noonShift2 != null">#{noonShift2},</if>
            <if test="dayShift3 != null">#{dayShift3},</if>
            <if test="noonShift3 != null">#{noonShift3},</if>
            <if test="dayShift4 != null">#{dayShift4},</if>
            <if test="noonShift4 != null">#{noonShift4},</if>
            <if test="dayShift5 != null">#{dayShift5},</if>
            <if test="noonShift5 != null">#{noonShift5},</if>
            <if test="dayShift6 != null">#{dayShift6},</if>
            <if test="noonShift6 != null">#{noonShift6},</if>
            <if test="dayShift7 != null">#{dayShift7},</if>
            <if test="noonShift7 != null">#{noonShift7},</if>
            <if test="suman3 != null">#{suman3},</if>
            <if test="ap3 != null">#{ap3},</if>
            <if test="iflen != null">#{iflen},</if>
            <if test="gybz != null">#{gybz},</if>
            <if test="gyyq != null">#{gyyq},</if>
        </trim>
    </insert>

    <update id="updateCyWdsumcon" parameterType="CyWdsumcon">
        update cy_wdsumcon
        <trim prefix="SET" suffixOverrides=",">
            <if test="modifiedon != null">ModifiedOn = #{modifiedon},</if>
            <if test="demandname != null">DemandName = #{demandname},</if>
            <if test="code != null">Code = #{code},</if>
            <if test="plmItemCode != null">plm_item_code = #{plmItemCode},</if>
            <if test="saleslineId != null">salesLine_id = #{saleslineId},</if>
            <if test="supplyorg != null">SupplyOrg = #{supplyorg},</if>
            <if test="name != null">Name = #{name},</if>
            <if test="plmname2 != null">PLMName2 = #{plmname2},</if>
            <if test="seibancode != null">SeibanCode = #{seibancode},</if>
            <if test="ckzzd != null">ckzzd = #{ckzzd},</if>
            <if test="plmname5 != null">PLMName5 = #{plmname5},</if>
            <if test="plmname3 != null">PLMName3 = #{plmname3},</if>
            <if test="plmname4 != null">plmName4 = #{plmname4},</if>
            <if test="plmname6 != null">plmName6 = #{plmname6},</if>
            <if test="ctt != null">ctt = #{ctt},</if>
            <if test="descflexfieldPubdescseg32 != null">DescFlexField_PubDescSeg32 = #{descflexfieldPubdescseg32},</if>
            <if test="shuliang != null">shuliang = #{shuliang},</if>
            <if test="ljpc != null">ljpc = #{ljpc},</if>
            <if test="t3 != null">T3 = #{t3},</if>
            <if test="t3ab3 != null">T3AB3 = #{t3ab3},</if>
            <if test="bzpc != null">bzpc = #{bzpc},</if>
            <if test="swan != null">swan = #{swan},</if>
            <if test="descflexfieldPrivatedescseg7 != null">DescFlexField_PrivateDescSeg7 = #{descflexfieldPrivatedescseg7},</if>
            <if test="cdj != null">cdj = #{cdj},</if>
            <if test="descflexfieldPrivatedescseg13 != null">DescFlexField_PrivateDescSeg13 = #{descflexfieldPrivatedescseg13},</if>
            <if test="gydm != null">gydm = #{gydm},</if>
            <if test="tc != null">tc = #{tc},</if>
            <if test="memo != null">memo = #{memo},</if>
            <if test="dd != null">dd = #{dd},</if>
            <if test="descflexfieldPrivatedescseg9 != null">DescFlexField_PrivateDescSeg9 = #{descflexfieldPrivatedescseg9},</if>
            <if test="mj != null">mj = #{mj},</if>
            <if test="mjh != null">mjh = #{mjh},</if>
            <if test="ltkc != null">ltkc = #{ltkc},</if>
            <if test="dayShift1 != null">day_shift1 = #{dayShift1},</if>
            <if test="noonShift1 != null">noon_shift1 = #{noonShift1},</if>
            <if test="dayShift2 != null">day_shift2 = #{dayShift2},</if>
            <if test="noonShift2 != null">noon_shift2 = #{noonShift2},</if>
            <if test="dayShift3 != null">day_shift3 = #{dayShift3},</if>
            <if test="noonShift3 != null">noon_shift3 = #{noonShift3},</if>
            <if test="dayShift4 != null">day_shift4 = #{dayShift4},</if>
            <if test="noonShift4 != null">noon_shift4 = #{noonShift4},</if>
            <if test="dayShift5 != null">day_shift5 = #{dayShift5},</if>
            <if test="noonShift5 != null">noon_shift5 = #{noonShift5},</if>
            <if test="dayShift6 != null">day_shift6 = #{dayShift6},</if>
            <if test="noonShift6 != null">noon_shift6 = #{noonShift6},</if>
            <if test="dayShift7 != null">day_shift7 = #{dayShift7},</if>
            <if test="noonShift7 != null">noon_shift7 = #{noonShift7},</if>
            <if test="suman3 != null">SUMAN3 = #{suman3},</if>
            <if test="ap3 != null">AP3 = #{ap3},</if>
            <if test="iflen != null">iflen = #{iflen},</if>
            <if test="gybz != null">gybz = #{gybz},</if>
            <if test="gyyq != null">gyyq = #{gyyq},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCyWdsumconById" parameterType="Integer">
        delete from cy_wdsumcon
    </delete>

    <delete id="deleteCyWdsumconByIds" parameterType="String">
        delete from cy_wdsumcon where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>